html, body {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    margin: 0;
    padding: 0;
    background-repeat: no-repeat
}